In [3]:
# IMPORTS
import numpy as np
import pandas as pd
#Fin Data Sources
import yfinance as yf
import pandas_datareader as pdr
import time
from datetime import date

# What is the average growth (in %) of GDP in 2023?

In [70]:
start = date(year=2022, month=1, day=1)
end = date(year=2023, month=10, day=1)
gdp = pdr.DataReader("GDPC1", "fred", start=start,end=end)
gdp.head(8)

                GDPC1
DATE
2022-01-01  21738.871
2022-04-01  21708.160
2022-07-01  21851.134
2022-10-01  21989.981
2023-01-01  22112.329
2023-04-01  22225.350
2023-07-01  22490.692
2023-10-01  22679.255

In [72]:
gdp["YOY%"] = (gdp["GDPC1"]/gdp["GDPC1"].shift(4))-1
gdp.head(8)

                GDPC1      YOY%
DATE
2022-01-01  21738.871       NaN
2022-04-01  21708.160       NaN
2022-07-01  21851.134       NaN
2022-10-01  21989.981       NaN
2023-01-01  22112.329  0.017179
2023-04-01  22225.350  0.023825
2023-07-01  22490.692  0.029269
2023-10-01  22679.255  0.031345

In [73]:
# Filter data for 2023
gdp = gdp.loc[(gdp.index.year == 2023)]
gdp.head(8)

                GDPC1      YOY%
DATE
2023-01-01  22112.329  0.017179
2023-04-01  22225.350  0.023825
2023-07-01  22490.692  0.029269
2023-10-01  22679.255  0.031345

In [74]:
print("AVG GDP Growth for 2023: ",round(gdp["YOY%"].mean()*100,1))

AVG GDP Growth for 2023:  2.5

### Find the min value of (dgs10-dgs2) after since year 2000 (2000-01-01) and write it down as an answer, round to 1 digit after the decimal point.

In [75]:
start = date(year=2000, month=1,day=1)
dgs2 = pdr.DataReader("DGS2","fred",start=start)
dgs10 = pdr.DataReader("DGS10","fred",start=start)

In [76]:
dgs = dgs2.join(dgs10)
dgs.head()

            DGS2  DGS10
DATE
2000-01-03  6.38   6.58
2000-01-04  6.30   6.49
2000-01-05  6.38   6.62
2000-01-06  6.35   6.57
2000-01-07  6.31   6.52

In [77]:
dgs["dgs10-dgs2"] = dgs["DGS10"]-dgs["DGS2"]

In [78]:
print("Min dgs10-dgs2 value :",round(dgs["dgs10-dgs2"].min(),1))

Min dgs10-dgs2 value : -1.1

### Compare S&P 500 and IPC Mexico indexes by the 5 year growth and write down the largest value as an answer (%)

In [80]:

# Download S&P 500 and IPC Mexico index data
sp500 = yf.download("^GSPC", start="2019-04-09", end="2024-04-09")
ipc = yf.download("^MXX", start="2019-04-09", end="2024-04-09")

# Calculate 5-year growth for each index
sp500_growth = (sp500["Close"][-1] / sp500["Close"][0] - 1) * 100
ipc_growth = (ipc["Close"][-1] / ipc["Close"][0] - 1) * 100

# Determine the index with higher growth and format as closest integer %
highest_growth = int(max(sp500_growth, ipc_growth))
print(f"The higher growing index over the past 5 years is: {highest_growth}%")

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

The higher growing index over the past 5 years is: 80%

C:\Users\Mahmo\AppData\Local\Temp\ipykernel_14364\4237021910.py:6: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  sp500_growth = (sp500["Close"][-1] / sp500["Close"][0] - 1) * 100
C:\Users\Mahmo\AppData\Local\Temp\ipykernel_14364\4237021910.py:7: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  ipc_growth = (ipc["Close"][-1] / ipc["Close"][0] - 1) * 100

### Find the largest range ratio [=(max-min)/max] of Adj.Close prices in 2023

In [81]:
def largest_range_ratio (code,start,end):
    df = yf.download(code, start, end)
    mn = df["Adj Close"].min()
    mx = df["Adj Close"].max()
    return round((mx-mn)/mx,2)
for code in ["2222.SR","BRK-B","AAPL","MSFT","GOOG","JPM"]:
    print(code,":", largest_range_ratio (code,"2023-01-01","2023-12-31"))

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

2222.SR : 0.21
BRK-B : 0.21
AAPL : 0.37
MSFT : 0.42
GOOG : 0.39
JPM : 0.28

# Find the largest dividend yield for the same set of stocks

In [85]:
def dividend_yields (code):
    d = yf.Ticker(code).dividends
    d = d.loc[d.index.year==2023]   
    dividend = d.sum()
    close = yf.download(code,"2023-01-01","2023-12-31")["Adj Close"][-1]
    return round((dividend/close)*100,1)

for code in ["2222.SR","BRK-B","AAPL","MSFT","GOOG","JPM"]:
    print(code,":", dividend_yields (code))

[*********************100%%**********************]  1 of 1 completed
C:\Users\Mahmo\AppData\Local\Temp\ipykernel_14364\274150832.py:5: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  close = yf.download(code,"2023-01-01","2023-12-31")["Adj Close"][-1]

2222.SR : 2.8

[*********************100%%**********************]  1 of 1 completed
C:\Users\Mahmo\AppData\Local\Temp\ipykernel_14364\274150832.py:5: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  close = yf.download(code,"2023-01-01","2023-12-31")["Adj Close"][-1]

BRK-B : 0.0

[*********************100%%**********************]  1 of 1 completed
C:\Users\Mahmo\AppData\Local\Temp\ipykernel_14364\274150832.py:5: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  close = yf.download(code,"2023-01-01","2023-12-31")["Adj Close"][-1]

AAPL : 0.5

[*********************100%%**********************]  1 of 1 completed
C:\Users\Mahmo\AppData\Local\Temp\ipykernel_14364\274150832.py:5: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  close = yf.download(code,"2023-01-01","2023-12-31")["Adj Close"][-1]

MSFT : 0.7

[*********************100%%**********************]  1 of 1 completed
C:\Users\Mahmo\AppData\Local\Temp\ipykernel_14364\274150832.py:5: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  close = yf.download(code,"2023-01-01","2023-12-31")["Adj Close"][-1]

GOOG : 0.0

[*********************100%%**********************]  1 of 1 completed

JPM : 2.4

C:\Users\Mahmo\AppData\Local\Temp\ipykernel_14364\274150832.py:5: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  close = yf.download(code,"2023-01-01","2023-12-31")["Adj Close"][-1]